.product-container-page {
    display: flex;
    justify-content: center;
    align-items: center;
    .product-container {
        width: 85%;
        display: flex;
        margin-top: 3%;
        .product-container-photos {
            display: flex;
            height: 100%;
            width: 60%;
            .all-photos {
                display: flex;
                flex-direction: column;
                width: 15%;
                margin-right: 1%;
                .all-photos-container {
                    .all-photos-photo {
                        height: 100%;
                        width: 100%;
                        max-width: 100%;
                        object-fit: contain;
                    }
                }
            }
            .main-photo-container {
                width: 70%;
                .main-photo-photo {
                    margin: 0px;
                    width: 100%;
                    max-width: 100%;
                    object-fit: contain;   
                }
            }
        }
        .product-container-info {
            height: 100%;
            width: 40%;
            .product-container-info-wrap {
                width: 70%;
                display: flex;
                flex-direction: column;
                .product-container-info-brand {
                    margin: 0%;
                }
                .product-container-info-name {
                    font-weight: normal;
                    margin-top: 1%;
                    margin-bottom: 7%;
                }
                .product-container-info-price {
                    font-weight: bolder;
                    font-size: small;
                    margin-bottom: 4%;
                }
                .product-container-info-amount {
                    font-weight: bolder;
                    margin-bottom: 6%;
                }
                .product-container-info-button {
                    border: none;
                    font-family: inherit;
                    background-color: #5ECE7B;
                    color: white;
                    margin-bottom: 3%;
                    padding: 3% 9%;
                }
                .product-container-info-description {
                    // height: 50vh;
                    overflow: auto;
                    font-size: small;
                    line-height: 20px;
                }
            }
        }
    }
}

.all-photos-container:hover {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}