.product-container {
    display: flex;
    .product-container-photos {
        display: flex;
        .all-photos {
            display: flex;
            flex-direction: column;
            width: 20%;
        }
    }
}