.category-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .category-container {
        width: 85%;
        .category-container-cards {
            display: flex;
        }
    }
}