.card-container {
    height: 280px;
    width: 250px;
    position: relative;
    cursor: pointer;
    .card-container-emptyCart {
        background-color: #5ECE7B;
        position: absolute;
        bottom: 18%;
        right: 5%;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        z-index: 1;
        .emptyCart {
            margin-top: 15%;
            margin-left: 15%;
        }
    }
    .card-container-image {
        position: relative;
        height: 200px;
        width: 90%;
        margin: 5%;
        max-width: 100%;
        object-fit: contain;
    }
    .card-container-info {
        margin-left: 5%;
        .card-container-name {
            margin: 0px;
            font-size: small;
        }
        .card-container-price {
            margin: 0px;
            font-size: small;
        }
    }
}
.card-container:hover {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.disabledCard::before {
    opacity: 0.5;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.disabledCard::after {
    content: 'OUT OF STOCK';
    color: black;
    font-size: small;
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%, -50%);
}
