.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    .navbar-container {
        width: 85%;
        display: flex;
        justify-content: space-between;
        ul {
            list-style-type: none;
            display: flex;
            padding: 0px;
            li {
                padding: 0px 16px;
            }
        }
        .navbar-container-logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .navbar-container-select {
            display: flex;
            align-items: center;
            // position: relative;
            // select {
            //     border: 0px;
            //     outline: none;
            //     display: inline-block;
            //     font: inherit;
            //     transform: translate(-30%, -0%);
            //     // appearance: none;
            // }
        }
    }
}
