.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 102;
    .navbar-container {
        width: 85%;
        display: flex;
        justify-content: space-between;
        ul {
            list-style-type: none;
            display: flex;
            padding: 0px;
            margin: 0px;
            li {
                padding: 16px 16px;
                font-size: small;
            }
        }
        .navbar-container-logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .navbar-container-select {
            display: flex;
            align-items: center;
        }
    }
}

.clicked-category {
    color: #5ECE7B;
    border-bottom: 2px solid #5ECE7B;
}