.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    .navbar-container {
        width: 85%;
        display: flex;
        justify-content: space-between;
        ul {
            list-style-type: none;
            display: flex;
            padding: 0px;
            margin: 0px;
            li {
                padding: 16px 16px;
                font-size: small;
                cursor: pointer;
            }
        }
        .navbar-container-logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .navbar-container-select {
            display: flex;
            align-items: center;
            .navbar-container-cart {
                position: relative;
                .navbar-container-counter {
                    width: 15px;
                    height: 15px;;
                    position: absolute;
                    top: -20%;
                    right: -30%;
                    color: white;
                    background-color: black;
                    font-size: xx-small;
                    border-radius: 50%;
                    text-align: center;
                    .counter {
                        margin: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -55%);
                    }
                }
            }
        }
    }
}

.clicked-category {
    color: #5ECE7B;
    border-bottom: 2px solid #5ECE7B;
}