.attributes-container {
    margin-bottom: 5%;
    .attributes-container-name {
            font-weight: bolder;
            font-size: small;
            margin-bottom: 0.5%;
        }
    .square-item-container {
        display: flex;
        margin-bottom: 6%;
        .square-item {
            border: 1px solid black;
            margin-right: 1.5%;
            padding: 1.5% 3%;
            font-size: small;
        }
    }
}

.square-item:hover {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    cursor: pointer;
}