.attributes-container {
    margin-bottom: 5%;
    .attributes-container-name {
            font-weight: bolder;
            font-size: small;
            margin-bottom: 0.5%;
        }
    .square-item-container {
        display: flex;
        .square-item {
            border: 1px solid black;
            margin-right: 1.5%;
            padding: 1.5% 3%;
        }
    }
}